.brown{
    color:brown;
}
#new-style{
    color: #2980b9;
}
.border-red{
border: 50px solid red;
}
.image-size{
    width: 200px;
}
.padding-space{
    padding: 50px;
}
.border-blue{
border: 50px solid blue;
}
.border-green{
border: 50px solid green;
}